<div class="mainDiv">
    <div class="vertMenu" style="width: 340px;">
        <h2>Info</h2>
    </div>
    <div class="contentInfo">
        <div class="infoDiv">
            <h3 class="infoA">Id:</h3>
            <h3 class="contentA">{{id}}</h3>
        </div>

        <div class="infoDiv">
            <h3 class="infoA">Name:</h3>
            <h3 class="contentA">{{name}}</h3>
        </div>

        <div class="infoDiv">
            <h3 class="infoA">Path:</h3>
            <h3 class="contentA">{{path}}</h3>
        </div>

        <div class="infoDiv">
            <h3 class="infoA">Size:</h3>
            <h3 class="contentA">{{size}}</h3>
        </div>

        <div class="infoDiv">
            <h3 class="infoA">Type:</h3>
            <h3 class="contentA">{{type}}</h3>
        </div>

        <div class="infoDiv">
            <h3 class="infoA">Savedate:</h3>
            <h3 class="contentA">{{savedate}}</h3>
        </div>





    </div>
</div>